.DiaryItem {
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.img-section {
    min-width: 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.img-section img {
    /* width: 50%; */
    height: 110%;
}

/* .img-section.bg-1 {
    background-color: rgb(100, 201, 100);
}

.img-section.bg-2 {
    background-color: rgb(157, 215, 114);
}

.img-section.bg-3 {
    background-color: rgb(253, 206, 23);
}

.img-section.bg-4 {
    background-color: rgb(253, 132, 70);
}

.img-section.bg-5 {
    background-color: rgb(253, 86, 95);
} */

.img-section.bg-1 {
    background-color: rgb(253, 215, 46);
}

.img-section.bg-2 {
    background-color: rgb(254, 152, 191);
}

.img-section.bg-3 {
    background-color: rgb(22, 139, 133);
}

.img-section.bg-4 {
    background-color: rgb(247, 79, 79);
}

.img-section.bg-5 {
    background-color: rgb(174, 127, 173);
}

.img-section.bg-6 {
    background-color: rgb(117, 194, 214);
}

.info-section {
    flex: 1;
    cursor: pointer;
}

.info-section .content {
    font-size: 18px;
}

.info-section .crated-date {
    font-size: 25px;
    font-weight: bold;
}