.EmotionItem {
    /* padding: 20px; */
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    /* background-color: #eee; */
}

.EmotionItem img {
    /* width: 80%; */
    width: 100%;
    /* height: 100%; */
}

/* .EmotionItem.item_on_1 {
    color: white;
    background-color: rgb(100, 201, 100);
}

.EmotionItem.item_on_2 {
    color: white;
    background-color: rgb(157, 215, 114);
}

.EmotionItem.item_on_3 {
    color: white;
    background-color: rgb(253, 206, 23);
}

.EmotionItem.item_on_4 {
    color: white;
    background-color: rgb(253, 132, 70);
}

.EmotionItem.item_on_5 {
    color: white;
    background-color: rgb(253, 86, 95);
} */

.EmotionItem.item_on_1 {
    color: white;
    background-color: rgb(249, 230, 146);
}

.EmotionItem.item_on_2 {
    color: white;
    background-color: rgb(250, 199, 218);
}

.EmotionItem.item_on_3 {
    color: white;
    background-color: rgb(134, 192, 189);
}

.EmotionItem.item_on_4 {
    color: white;
    background-color: rgb(253, 132, 70)
}

.EmotionItem.item_on_5 {
    color: white;
    background-color: rgb(210, 186, 209);
}

.EmotionItem.item_on_6 {
    color: white;
    background-color: rgb(181, 220, 230);
}