.Viewer>section {
    text-align: center;
    margin-bottom: 50px;

}

.Viewer>section h4 {
    font-size: 22px;
    padding: 10px 0
}

.emotion-img-wrapper {
    width: 250px;
    height: 250px;
    margin: auto;
    align-content: center;
    color: #fff;
    border-radius: 10px;
    font-size: 25px;
}

.emotion-img-wrapper.img-1 {
    background-color: rgb(100, 201, 100);
}

.emotion-img-wrapper.img-2 {
    background-color: rgb(157, 215, 114);
}

.emotion-img-wrapper.img-3 {
    background-color: rgb(253, 206, 23);
}

.emotion-img-wrapper.img-4 {
    background-color: rgb(253, 132, 70);
}

.emotion-img-wrapper.img-5 {
    background-color: rgb(253, 86, 95);
}


.content-wrapper {
    background-color: #fafafa;
    padding: 20px;
    font-size: 20px;
    min-height: 100px;
    text-align: left;
    border-radius: 10px;
}